#recits-custom-profile {
  position: fixed;
  left: 160px;
  top: 32px;
  right: 0;
  bottom: 0;
  padding: 3rem;
  background: #f9f7f4;
  overflow: scroll;
  /* max-width: 650px; */
}

#recits-custom-profile-content {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}
#recits-custom-profile-content .user-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#recits-custom-profile-content .regular-text {
  width: auto;
}
#recits-custom-profile-content input {
  padding: 10px 18px;
  border: 1px solid #cfcec5;
  border-radius: 5px;
}
#recits-custom-profile-content label {
  font-weight: 700;
}
#recits-custom-profile-content .user-field:has(#membre_adresse_ligne_1),
#recits-custom-profile-content .user-field:has(#url),
#recits-custom-profile-content .user-field:has(#membre_collaborateur_avec_qui_collaborer),
#recits-custom-profile-content h2 {
  grid-column: 1/span 2;
}

body.folded #recits-custom-profile {
  left: 35px;
}

.wrapper-select {
  overflow: hidden;
  border-radius: 22px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 15px;
  width: fit-content;
  min-height: 50px;
}
.wrapper-select p {
  margin: 0;
}
.wrapper-select .selected-option {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 7px 15px -7px rgba(0, 0, 0, 0.25);
  padding: 5px 27px;
  border-radius: 22px;
  height: 44px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  gap: 10px;
  width: 100%;
  border: 1px solid #f0f0f0;
  margin: 1px;
}
.wrapper-select .selected-option .svg-icon {
  max-width: 15px;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper-select .selected-option .svg-icon.active {
  transform: rotate(180deg);
}
.wrapper-select .options-container {
  background-color: #fff;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 27px 27px 27px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 0 0 22px 22px;
  transition: margin-top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper-select .options-container.active {
  margin-top: 25px;
  box-shadow: 0px 7px 15px -7px rgba(0, 0, 0, 0.25);
}
.wrapper-select .options-container p a {
  color: var(--wp--preset--color--darkgrey);
  text-decoration: none;
}
.wrapper-select .options-container p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  #recits-custom-profile-content {
    display: block;
  }
  #recits-custom-profile-content .user-field {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 782px) {
  body.folded #recits-custom-profile {
    left: 0;
  }
}
